<ul>
    <li *ngFor="let x of sidekicks">
        <button style="font-size: 1.5em;" routerLink="/sidekick/mysidekicks/details/{{x.id}}">id: {{x.id}} | name: {{x.name}}</button>
    </li>
</ul>

<h2>Add New Sidekick</h2>
<div>
    <div>
        <label>ID:
            <input [(ngModel)]="newSidekick.id" readonly>
        </label>
    </div>
    <div>
        <label>Name:
            <input [(ngModel)]="newSidekick.name" required>
        </label>
    </div>
    <button (click)="addNewSidekick()">Add</button>
</div>